<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Welcome to Potato workshop</title>
</head>
<body>


<div class="row" layout:fragment="content"><br/>


   <br/><br/>

   <div>

       <div>

        <ul>
        <li> <a href="https://www.jianshu.com/c/d480af6dc417">微服务开发实战</a></li>
        </ul>



        </div>
   </div>

</div>


<script type="text/javascript">


</script>

</body>
</html>