DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=walter
DOCKER_INFLUXDB_INIT_PASSWORD=P@ss1234
DOCKER_INFLUXDB_INIT_ORG=walter
DOCKER_INFLUXDB_INIT_BUCKET=walter
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=walter

GF_SECURITY_ADMIN_USER=walter
GF_SECURITY_ADMIN_PASSWORD=P@ss1234

TELEGRAF_BROKERS=192.168.0.58:9092
TELEGRAF_URLS=http://192.168.0.58:8086

KAFKA_CFG_NODE_ID=0
KAFKA_CFG_PROCESS_ROLES=controller,broker
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
KAFKA_CFG_LISTENERS=SASL_PLAINTEXT://:9092,CONTROLLER://:9093
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,SASL_PLAINTEXT:SASL_PLAINTEXT
KAFKA_CFG_ADVERTISED_LISTENERS=SASL_PLAINTEXT://192.168.0.58:9092
KAFKA_CLIENT_USERS=walter
KAFKA_CLIENT_PASSWORDS=P@ss1234
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CFG_SASL_MECHANISM_CONTROLLER_PROTOCOL=PLAIN
KAFKA_CONTROLLER_USER=walter
KAFKA_CONTROLLER_PASSWORD=P@ss1234
KAFKA_CFG_INTER_BROKER_LISTENER_NAME=SASL_PLAINTEXT
KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
KAFKA_INTER_BROKER_USER=walter
KAFKA_INTER_BROKER_PASSWORD=P@ss1234

KAFKA_LOG_RETENTION_HOURS=120
KAFKA_LOG_SEGMENT_BYTES=573741824
KAFKA_LOG_CLEANER_BACKOFF_MS=30000

