#container {
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid gray;
    line-height: 130%;
}

#top {
    padding: .5em;
    background: #DAE0D2 url("../images/bg.gif") repeat-x bottom;
    border-bottom: 1px solid gray;
}

#top h1 {
    padding: 0;
    margin: 0 0 0 2%;
    color: #003399;
    line-height: 150%;
}

#leftnav {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

#content {
    margin-top: 1em;
    margin-left: 200px;
    border-left: 1px dashed gray;
    padding: 1em;
    max-width: 80em;
}

#content p {
    font-size: 14px;
    font-style: normal
}

#content h2 {
    margin: 0 0 .5em 0;
}

#content .item {
    overflow: auto;
}

#footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    border-top: 1px solid gray;
}

#footer h2 {
    font-size: 16px;
    text-align: center;
    color: #003399;
    padding: 0;
    margin: 0;
}

#leftnav p {
    margin: 0 0 1em 0;
}
